table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.example-button-container {
  padding: 2px;
}
.example-flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
